.week {
  display: flex;
  justify-content: space-between;
}

.week > div {
  width: 7.14%;
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;

  text-align: center;
}

.weekend {
  color: var(--acc-red-7);
}

.workout {
  border: 1px solid var(--acc-green-7);
  border-radius: 10000px;
}
