.container {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 1rem;
}

.text-input {
  padding: 0.5rem;
  font-size: 1rem;

  border: 1px solid var(--dark-7);
}

.text-input:focus {
  outline: none;
}

div.password {
  display: flex;
}

div.password > .text-input {
  flex-grow: 1;
  border-right: none;
}

button.password {
  padding-right: 0.3rem;

  border: 1px solid var(--dark-7);
  border-left: none;

  background-color: inherit;
}
