.container {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 1rem;
}

.text-input {
  padding: 0.5rem;
  font-size: 1rem;

  border: 1px solid var(--dark-7);
  border-radius: 0.5rem;
}

.text-input:focus {
  outline: none;
}

div.password {
  display: flex;
}

div.password > .text-input {
  flex-grow: 1;
  border-right: none;
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}

button.password {
  padding-right: 0.3rem;

  border: 1px solid var(--dark-7);
  border-left: none;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;

  background-color: inherit;
}

.error button.password {
  border: 1px solid var(--acc-red);
  border-left: none;
  color: var(--acc-red);
}

.text-input.error {
  border: 1px solid var(--acc-red);
  color: var(--acc-red);
}

div.error {
  color: var(--acc-red);
}

.error-box {
  text-align: right;
}
