.button {
  width: 3.5rem;
  height: 3.5rem;

  font-size: 1rem;

  border: 1px solid var(--dark-5);
  border-radius: 1.75rem;
  background-color: var(--light-2);
  color: var(--dark-4);
}

.grayed {
  border: 1px solid var(--dark-2);
  background-color: var(--light-2);
  color: var(--dark-1);
}

.checked {
  border: 1px solid var(--acc-green-10);
  background-color: var(--acc-green-1);
  color: var(--acc-green-10);
}
