table.calendar {
  flex-grow: 1;

  /* border-collapse: collapse; */
  border-spacing: 0px;
}

.calendar td,
.calendar th {
  /* Border is set to white for removing a bug in the visualization of selected months */
  border: 1px solid var(--light-1);
  width: 14.28571428%;
  text-align: center;

  position: relative;
}

.calendar th {
  padding: 0.2rem;
  text-align: left;
}

td.other-month {
  color: var(--light-7);
}

td.today {
  color: var(--acc-green);
}

td.selected {
  border: 1px solid var(--acc-green);
}
